.archive {
    padding: 2rem 3rem;
    font-size: 1rem;
    background-color: #fff;
    border-radius: 5px;
  }
  .archive .archive-inner {
    border-left: 4px solid #eee;
    padding: 0 1rem;
  }
  .archive .archive-header {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: #444;
  }
  .archive .archive-header .archive-header-count {
    color: #ff4d00;
    font-size: 1.2rem;
    margin: 0 3px;
  }
  .archive .archive-header .archive-header-tag {
    color: #ff8a00;
    font-size: 1.2rem;
  }
  .archive .archive-nav .archive-year {
    font-size: 1.3rem;
    padding-top: 0.5rem;
    padding-bottom: 1.3rem;
    font-weight: 800;
    color: #555;
  }
  .archive .archive-nav .archive-item {
    position: relative;
    padding: 0.5rem 0;
  }
  .archive .archive-nav .archive-item::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    top: 50%;
    transition: opacity .3s;
    transform: translateY(-50%);
    left: calc(-1.25rem - 2px);
    opacity: 0.5;
  }
  .archive .archive-nav .archive-item:hover::before {
    opacity: 1;
  }
  .archive .archive-nav .archive-item .archive-item-date {
    color: #00a7e0;
    font-size: 0.9rem;
    margin-right: 10px;
  }
  .archive .archive-nav .archive-item a .archive-item-title {
    color: #555;
    font-size: 1rem;
  }
  .archive .archive-nav .archive-item a .archive-item-title:hover {
    color: #ff4d00;
  }