/* 清除内外边距 */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
/* structural elements 结构元素 */

dl, dt, dd, ul, ol, li,
/* list elements 列表元素 */

pre,
/* text formatting elements 文本格式元素 */

button, input, textarea,
/* form elements 表单元素 */

div, header, main, footer, section, article, aside {
    /* table elements 表格元素 */
    margin: 0;
    padding: 0;
    color: #2b2b2b;
    box-sizing: border-box;
    letter-spacing: 1px;
    user-select: none;
    font-family: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: cursive, 'Merriweather Sans', Helvetica, "Microsoft YaHei", sans-serif;
}

body {
    padding-right: 0 !important;
    font-size: 62.5%;
    cursor: url("../image/cursor.png"), auto;
}

address, cite, dfn, em, var {
    font-style: normal;
}

/* 将斜体扶正 */

code, kbd, pre, samp, tt {
    font-family: "Courier New", Courier, monospace;
}

/* 统一等宽字体 */

small {
    font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */

ul, ol, li {
    list-style: none;
}

/* 重置文本格式元素 */

a {
    text-decoration: none;
    color: #666;
    font-size: 1rem;
    display: inline-block;
    transition: all .2s;
}

a:hover {
    opacity: 0.75;
}

abbr[title], acronym[title] {
    /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

.ql-editor .ql-size-large {
    font-size: 1em;
}


/* for ie6 */

fieldset, img {
    border: none;
}

/* img 搭车：让链接里的 img 无边框 */

/* 注：optgroup 无法扶正 */

button, input, select, textarea {
    font-size: 100%;
    /* 使得表单元素在 ie 下能继承字体大小 */
}

.clearfix::before, .clearfix::after {
    content: ' ';
    clear: both;
    display: block;
    font-size: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.blue {
    color: #2395ff;
}

.orange {
    color: #ff8a00 !important;
}

img {
    display: block;
}

.relative {
    position: relative;
}

.main-block {
    padding: 8rem 4rem 5rem;
    position: relative;
}

/* 滚动条宽度 */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* 滚动条的滑块 */

::-webkit-scrollbar-thumb {
    background-color: #a1a3a9;
    border-radius: 4px;
}

/* 加载gif */

.block-loading {
    width: 100%;
    padding-bottom: 3rem;
    background: url("../image/loading_big.gif") center center no-repeat;
}

/* 过渡动画 */

.v-enter-active, .v-leave-active {
    transition: opacity 0.5s;
}

.v-enter, .v-leave-to {
    opacity: 0;
}

/* 自定义弹出窗口样式 */

.el-dialog {
    max-height: 90%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 780px) {
    :root {
        font-size: 14px;
    }
    .main-block {
        padding: 8rem 0 2rem;
    }
    body,html {
        font-family: 'Merriweather Sans', Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
    }
}